@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;

}


/* header */

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #ffffff !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
}





/*service area*/

.service {
  height: 303px;
  margin-top: 10px;
  background-image: url(../src/assets/img/book.png);
  background-repeat: no-repeat;

}

.section-title {
  margin-bottom: 190px;
}


.feature-area {
  background-image: url(../src/assets/img/servicebg.png);
  min-height: 900px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: -110px;
}

.menu-item.active {
  color: #000;
  font-weight: bold;
}

.contact {
  background-image: url(../src/assets/img/contact.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 450px;
}

.contact::before {
  content: '';
  position: absolute;
  height: 100% !important;
  width: 100%;
  background-color: #6B5C5C;
  left: 0;
  opacity: 0.5;
  top: 0;
}

.t-box {
  z-index: 1;
}

.blog {
  background-image: url(../src/assets/img/blogbg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 100px;
}

.blog-content {
  padding-left: 30px;
  padding-right: 30px;
}

.content {
  z-index: 999;
  backdrop-filter: blur(20px);
}

.blog-img {
  z-index: -1
}

.subscribe {
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../src/assets/img/subsbanner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  background-image: url(../src/assets/img/footerbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0;
  position: relative;
  color: #fff;
}

.footer::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1E1727;
  opacity: 0.5;
}

.f-content {
  z-index: 999999;
}

/* pakage section */
.img1 {
  min-width: 538px;
  margin-left: -38px;
  margin-top: 10px;
}

.img2 {
  bottom: 13px;
  left: -37px;
}

.pakage {
  width: 450px;
  padding-top: 30px;
}

.card-head {
  transform: translateY(315px);
  display: flex;
  justify-content: center;
}

.card {
  margin: 0 70px;
}

.card p {
  margin-top: 84px;
}

.card-footer {
  display: flex;
  justify-content: center;
  transform: translateY(-39px);
}

.card-footer h4 {
  transform: translate(-50%, -50%);
}

.card ul li {
  border-bottom: 1px solid #fff;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}

.leftshdw {
  position: absolute;
  bottom: 9px;
  left: 31px;
}

.sup {
  top: 72px;
  position: absolute;
}

.p-text {
  position: absolute;
  left: 50%;
  top: 54%;
  transform: translate(-50px, -50px);
  font-size: 3rem
}

.img-foot {
  min-width: 463px;
  position: absolute;
  bottom: -142px;
  left: -12px;
}



.f-text {
  position: absolute;
  z-index: 999;
  left: 38%;
  bottom: -8%;
}

.rebg {
  margin-top: -250px;
  position: absolute;

}

.banner-text {
  text-shadow: 9px 11px 6px #dcdcdc;
  line-height: 0.8;
}

.question {
  background-image: url(../src/assets/img/ques.png);
  height: 400px;
  margin-left: -20px;
  margin-top: 30px;

}

.process-wrapper {
  width: 100%;
  height: 1330px;
  background-image: url(../src/assets/img/line.png);
  background-size: cover;
  background-position: center center;
}

/* wprl processing */
.wpimg1 {
  left: -7px;
  top: -161px;
  position: absolute;
}

.wpimg-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 55px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.wpimg2 {
  top: -118px;
  position: relative;
  left: -19px;
}

.wpimg-inner2 {
  top: -251px;
  position: relative;
  left: 99px;
}

.wpimg3 {
  position: absolute;
  right: 155px;
  top: 85px;
}

.wpimg-inner {
  top: -196px;
  position: relative;
  left: 47px;
}

.wpimg4 {
  top: -81px;
  position: relative;
  left: -19px;
}

.wpimg5 {
  top: -268px;
  position: relative;
  left: 88px;
}

.wpimg6 {
  top: -151px;
  position: relative;
  left: -19px;
}

.wpimg7 {
  top: -318px;
  position: relative;
  left: -19px;
}

/* choose area */
.choose-area {
  background-image: url(./assets/img/background.png);
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 99px;
}

.slideone {
  background-image: url(./assets/img/design.png);
  width: 100%;
  height: 765px;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

.slidefirst {
  height: 800px;
}

.slidefirst h3 {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  margin-top: -77px;
}

.sliderimg {
  width: 100%;
  height: 793px;
  /* background-image: url(./assets/img/slider.png); */
  /* background-color: yellow; */
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  overflow: hidden;
  background-size: cover;
  z-index: -99
}

.slidertwo {
  margin-top: 179px;
}

.slick-slider {
  margin-top: -190px;
}